    <style>
	        background-color: #2c7e55;
</style>
    <header id="site-header">
      
      <div class='container-header'>
        
        <nav>
		<a href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}"><h1 class="blog-title" style="border-style: solid;
    border-width: 4px; border-color: #444444;"><span style="color:#444444;">AW</span></h1></a>
		
		<ul class='nav' id='navbar'>;
	 <li><a class="button-square button-social" data-hint="Home" title="Home" href="{{ .Site.BaseURL }}">
                                <i class="fa fa-home fa-lg"></i>
                            </a>
                            </li>
	<li><a class="button-square button-social"  target="_blank" href="https://github.com/awhstin/rprojs/" data-hint="Website Repo" title="Website Repo">
                                <i class="fa fa-code fa-lg"></i>
                            </a></li>
	<li>
                        {{ with .Site.Params.twitter }}
                            <a class="button-square button-social" data-hint="Twitter"  target="_blank" title="Twitter" href="{{ . }}">
                                <i class="fa fa-twitter fa-lg"></i>
                            </a>
                            </li>
                        {{ end }}
                        
                        <li>
                        {{ with .Site.Params.github }}
                            <a class="button-square button-social" data-hint="Github"  target="_blank"title="Github" href="{{ . }}">
                                <i class="fa fa-github-alt fa-lg"></i>
                            </a>
                            </li>
                        {{ end }}
                        <li>
                        {{ with .Site.Params.stackoverflow }}
                            <a class="button-square button-social" data-hint="Stack Overflow"  target="_blank" title="Stack Overflow" href="{{ . }}">
                                <i class="fa fa-stack-overflow fa-lg"></i>
                            </a>
                            </li>
                        {{ end }}
                        <li>
                        {{ with .Site.Params.linkedin }}
                            <a class="button-square button-social" data-hint="LinkedIn"  target="_blank" title="LinkedIn" href="{{ . }}">
                                <i class="fa fa-linkedin fa-lg"></i>
                            </a>
                            </li>
                        {{ end }}
                        <li>
                        {{ with .Site.Params.email }}
                            <a class="button-square button-social" data-hint="Email" title="Email" href="mailto:{{ . }}">
                                <i class="fa fa-envelope fa-lg"></i>
                            </a>
                        {{ end }}
                        </li>
                        <li>
                            <a data-hint="Soccer" title="EPL" href="{{ .Site.BaseURL }}EPL/">
                                <i class="fa fa-futbol-o fa-lg"></i>
                            </a>
                        </li>
</ul>
</nav>
</div>
    </header>
<hr class='containerheader'>   
