    
    <header id="site-header">
      
      <div class='container'>
        
        <nav>
		<a href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}"><h1 class="blog-title"><span style="color:#444444;">aw</span><span style="color:#444444;">/</span><span style="color:#dedede;">stats</span></h1></a>
  <ul class='nav' id='navbar'>
	 <li><a class="button-square button-social hint--top" data-hint="Home" title="Home" href="{{ .Site.BaseURL }}">
                                <i class="fa fa-home fa-lg"></i>
                            </a>
                            </li>
	<li><a class="button-square button-social hint--top"  target="_blank" href="https://github.com/awhstin/rprojs/" data-hint="Website Repo" title="Website Repo">
                                <i class="fa fa-code fa-lg"></i>
                            </a></li>
	<li>
                        {{ with .Site.Params.twitter }}
                            <a class="button-square button-social hint--top" data-hint="Twitter"  target="_blank" title="Twitter" href="{{ . }}">
                                <i class="fa fa-twitter fa-lg"></i>
                            </a>
                            </li>
                        {{ end }}
                        
                        <li>
                        {{ with .Site.Params.github }}
                            <a class="button-square button-social hint--top" data-hint="Github"  target="_blank"title="Github" href="{{ . }}">
                                <i class="fa fa-github-alt fa-lg"></i>
                            </a>
                            </li>
                        {{ end }}
                        <li>
                        {{ with .Site.Params.stackoverflow }}
                            <a class="button-square button-social hint--top" data-hint="Stack Overflow"  target="_blank" title="Stack Overflow" href="{{ . }}">
                                <i class="fa fa-stack-overflow fa-lg"></i>
                            </a>
                            </li>
                        {{ end }}
                        <li>
                        {{ with .Site.Params.linkedin }}
                            <a class="button-square button-social hint--top" data-hint="LinkedIn"  target="_blank" title="LinkedIn" href="{{ . }}">
                                <i class="fa fa-linkedin fa-lg"></i>
                            </a>
                            </li>
                        {{ end }}
                        <li>
                        {{ with .Site.Params.email }}
                            <a class="button-square button-social hint--top" data-hint="Email" title="Email" href="mailto:{{ . }}">
                                <i class="fa fa-envelope fa-lg"></i>
                            </a>
                        {{ end }}
                        </li>
                        <li>
                            <a class="hint--top" data-hint="Soccer" title="EPL" href="{{ .Site.BaseURL }}soccer/">
                                <i class="fa fa-futbol-o fa-lg"></i>
                            </a>
                        </li>
</ul>
</nav>
</div>
    </header>
<hr class='containerheader'>   
