    <head>
        {{ partial "meta.html" . }}
        <title>Austin W &middot; R Projects</title>
        <link rel="canonical" href="{{ .Site.BaseURL }}" />
        <link rel="shortcut icon" style="max-width:50%;max-height:50%;" href="{{ .Site.BaseURL }}post/favicon.ico">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .RSSLink }}">
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300|Montserrat:700" rel="stylesheet" type="text/css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">     
        <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700" rel="stylesheet"> 
        <script src="https://use.fontawesome.com/05cd59bd99.js"></script>
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/obsidian.css"/>
        <script src="/js/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <title>{{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="website">
{{ $defaultDescription := printf "Article posted on %s" (.Date.Format "Monday, January 2, 2006") }}
<meta property="description" content="{{ .Description | default $defaultDescription }}">
<meta property="og:description" content="{{ .Description | default $defaultDescription }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://austinwehrwein.com/{{ index .Params "titleimg" }}.{{ index .Params "imgtype" }}">
    </head>



