    <header id="site-header">
        <div class="container">
            <a href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}"><h1 class="blog-title">{{ .Site.Title }}</h1></a>
            <h4 class="blog-description">{{ .Site.Params.description }}</h4>
            <div class='container'>
           <ul id="navbar" class='nav'>
	<li><a href="/" target="_blank">about</a></li>
	<li><a href="/"  target="_blank">main</a></li>
	<li><a href="https://github.com/awhstin/rprojs/"  target="_blank">github</a></li>
</ul>
</div>

    </header>
